/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightsteelblue;
  font-size: 1.5rem;
}

.top {
  margin: 2em auto;
  margin-bottom: 1em;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  flex-direction: column;
  text-align: center;
}

.result {
  padding: 1em 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bottom {
  text-align: center;
}

.bottom button {
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 1em;
  background-color: lightgoldenrodyellow;
  color: #000;
}

.dice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice i {
  padding-top: 0.2em;
  font-size: 7rem;
}
